</br>
<div class="btn-group">
  <button type="button" class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#addpassword">+ Add Password</button>
</div>
</br>
</br>
{{#if credentials.length}}
<h4>Saved Passwords:</h4>
{{else}}
<h4>No Saved Passwords Yet!</h4>
{{/if}}

{{#each credentials}}
  <div class="row">
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-block" href="#" data-toggle="modal" data-target="#showpassword{{id}}">{{nickname}}</button>
    </div>
  </div>         

  <div class="modal" id="showpassword{{id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">{{nickname}}</h4>
        </div>
        <div class="modal-body">

          {{!-- <form class="passwordUpdate"> --}}
            <div class="row">
                <label>Login Name</label>
                <input class="form-control" rows="1" id="login_name" value={{login_name}} />
            </div>
            <div class="row">
                <label>Password</label>
                <input type="password" class="form-control" rows="1" id="copythingy" value={{password}}/>
                <input type="checkbox" onclick="revealPassword()"> Show Password
            </div>
            </br>
            <div class="row">
              <div class="btn-group">
                <button onclick="copyToClipBoard2()" class="btn btn-primary btn-block">Copy Password to Clipboard</button>
              </div>
              <h5 class="clipboard-confirmation hide">Copied &#10003</h5>
            </div>
            <div class="modal-footer">
              <button onclick="deletePassHandler()" class="btn btn-danger" id="deleteBtn" data-dismiss="modal">Delete Password</button>
              <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
              <button type="submit" id="send-btn" class="btn">Save</button>
            </div>
          {{!-- </form> --}}

      </div>
    </div>
  </div>
  </div>
</br>
{{/each}}

<img class="pslogo" src="./img/pslogomain.gif" alt="Pass-Stache Logo">

<div class="modal" id="addpassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Password</h4>
      </div>
      <div class="modal-body">
        <form class="add-credential">
          <div class="row">
            <label>Password Nickname</label>
            <input type="text" id="passname-field" class="form-control" placeholder="What service does this password unlock?">
          </div>
          <br>
          <div class="row">
            <label>Username</label>
            <input type="text" id="username-field" class="form-control" placeholder="Username">
          </div>
          <br>
          <div class="row">
            <label>Password</label>
            <input type="password" id="pass-field" class="form-control" placeholder="My Password">
            <input type="checkbox" onclick="revealNewPassword()"> Show Password
          </div>
          <br>
            <div class="row">
              <div class="col-xs-6">
                  Generate a random secure password instead
              </div>
              <div class="col-xs-6">
                  <label class="toggle">
                  <input type="checkbox" id="weather">
                  <span class="handle"></span>
                  </label>
              </div>
          </div>
        <div class="modal-footer">
<<<<<<< HEAD
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="send-btn" class="btn">Add</button>
=======
          <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
          <button type="submit" id="send-btn" class="btn">Send</button>
>>>>>>> f1759e1dcc49e105517d79377c7da20ef7bfa8a8
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/add-pass.js"></script>